extends base.pug

block content
  h2 GEN THREAD
  form(class='test-form' method='post')
    label(for='runId') Parent runId
    input(type='text' name='runId')
    label(for='threadId') Parent runId
    input(type='text' name='threadId')
    input(type='submit' value='end thread')