include test

mixin suite(suite)
  div(class="suite" onclick="n=this.parentElement.getElementsByClassName('expand-info')[0];n.style.display=(n.style.display==='block')?'none':'block';event.stopPropagation();")
    h3 #{suite.name}
    div(class="expand-info")
      h4 tests:
      if suite.tests && suite.tests.length
        each test in suite.tests
          +test(test)
      else
        p no tests
      h4 suites:
      if suite.suites && suite.suites.length
        each sweet in suite.suites
          +suite(sweet)
      else
        p no suites